.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Arial", sans-serif;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: var(--pink);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
